*{
    margin: 0px;
    padding: 0px;
}

header#cabecalho{
    background-color: lightblue;
    text-align: center;
    height: 150px;
}

h1#slogan-pagina{
    font-style: italic;
    font-size: 3em;
}

nav#menu-navegacao{
    position: relative;
    background-color: aliceblue;
    padding: 5px;
    top: 40%;
    
}


nav#menu-navegacao a {
    display:inline-block;
    position: relative;
    margin-left: 25px;
    text-decoration: none;
    color: black;
    
}

article#conteudo-principal{
    display: block;
    padding: 15px;
    width: 750px;
    margin:10px auto;
    margin-bottom: 80px;
    background-color: honeydew;
}

h1{
    text-align: center;
    font-size: 2.5em;
}

h2{
    text-align: center;
    font-size: 2.2em;
}

p{
    text-align: justify;
    margin-bottom: 20px;
}


footer{
    padding: 10px;
    background-color: slategray;
    color: white;
    
}

footer p{
    text-align: center;
}