*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root{
    --fonte01: 'Passion One', cursive;
    --fonte02: 'Sriracha', cursive;
}

header{
    background-color: black;
    height: 200px;
    margin-bottom:30px ;
}

header > h1{
    font-family: var(--fonte01);
    font-size: 10vh;
}

header, h1 p {
    text-align: center;
    color: white;
}

header a{
    color: white;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

section, div p{
    display: block;
    line-height: 2em;
    font-family: var(--fonte02);
    font-size: 3.5vw;
    font-weight: 600;

}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    
}

section.sessao-normal > div{
    display: inline-block;
    padding: 10px;
}

section#img01{
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section#img02{
    background-image: url('imagens/background002.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


section.sessao-imagem{
    background-color: black;
    color: white;
}

section.sessao-imagem > div{
    background-color: rgba(0, 0, 0, 0.349);
    display: inline-block;
    padding: 10px;
}

footer{
    background-color: black;
}

footer > p {
    text-align: center;
    color: white;
    padding: 1vw;
}
